
	h1{
		color:blue;
		text-align: center;
	}

	table{
		border: 2px solid black;
		border-collapse: collapse;
	}

	th, td{
		border: 1px solid black;
		padding: 3px;
		text-align: center; 
	}
	p::selection {
                color: red;
                background-color: yellow;
            }

  #description { 
  background-color: yellow;
}

